/* Global styles */

@font-face {
  font-family: 'arciform';
  src: url('./assets/fonts/arciform.eot');
  src: url('./assets/fonts/arciform.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/arciform.woff2') format('woff2'),
    url('./assets/fonts/arciform.woff') format('woff'),
    url('./assets/fonts/arciform.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 90%;
}

@media (min-width: 768px) {
  :root {
    font-size: 100%;
  }
}

html {
  height: 100%;
  color: #fff;

}

body {
  font-family: 'arciform';
  background: #ff6b81;
}

html,
body,
#root {
  display: flex;
  flex: 1;
}

#root {
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3,
h6 {
  text-transform: lowercase;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h6 {
  font-size: 1.25rem;
}
